/www/.buildpath
/www/.cache
/www/.metadata
/www/.project
/www/.settings
/www/.vscode
atlassian*
/www/nbproject
/www/robots.txt
/www/pub/robots.txt
/www/sitemap
/www/sitemap.xml
/www/pub/sitemap
/www/pub/sitemap.xml
/www/.idea
/www/.gitattributes
/www/app/config_sandbox
/www/app/etc/env.php
/www/app/code/Magento/TestModule*
/www/lib/internal/flex/uploader/.actionScriptProperties
/www/lib/internal/flex/uploader/.flexProperties
/www/lib/internal/flex/uploader/.project
/www/lib/internal/flex/uploader/.settings
/www/lib/internal/flex/varien/.actionScriptProperties
/www/lib/internal/flex/varien/.flexLibProperties
/www/lib/internal/flex/varien/.project
/www/lib/internal/flex/varien/.settings
/www/node_modules
/www/.grunt
/www/Gruntfile.js
/www/package.json
/www/.php_cs
/www/.php_cs.cache
/www/grunt-config.json
/www/pub/media/*.*
!/www/pub/media/.htaccess
/www/pub/media/attribute/*
!/www/pub/media/attribute/.htaccess
/www/pub/media/analytics/*
/www/pub/media/catalog/*
!/www/pub/media/catalog/.htaccess
/www/pub/media/customer/*
!/www/pub/media/customer/.htaccess
/www/pub/media/downloadable/*
!/www/pub/media/downloadable/.htaccess
/www/pub/media/favicon/*
/www/pub/media/import/*
!/www/pub/media/import/.htaccess
/www/pub/media/logo/*
/www/pub/media/theme/*
/www/pub/media/theme_customization/*
!/www/pub/media/theme_customization/.htaccess
/www/pub/media/wysiwyg/*
!/www/pub/media/wysiwyg/.htaccess
/www/pub/media/tmp/*
!/www/pub/media/tmp/.htaccess
/www/pub/media/captcha/*
/www/pub/static/*
!/www/pub/static/.htaccess

/www/var/*
!/www/var/.htaccess
/www/vendor/*
!/www/vendor/.htaccess
/www/generated/*
!/www/generated/.htaccess
.DS_Store
